html * {
	outline:none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	
	user-select: none; 

}

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

body {
	font-family: sans-serif;
	display: flex;  
	background: #E0F6FC;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style: none;
	padding:.7rem 0;
}
#voting #candidates{
	display: flex;
	text-align:left;
}
#voting #candidates div{
	width:50%;
	padding:1rem;
}


#voteresults, #calculatingvotes {
	display: none;
}

.col {
	width:50%;
	height: 100%;
	position: absolute;
}

#textContainer {
	position: absolute;
	text-align: center;
	width:500px;
	font-size:1.2rem;
	top: 5rem !important;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
#textContainer img{
	width:150px;
	height: auto;
}

#textContainer button {
	border: 1px solid #333;
	outline:none;
	margin: 1rem .2rem;
	opacity:0;
	font-size: .8rem;
	padding: .6rem 1.4rem;
	box-shadow: 0 .2rem 0 rgba(0,0,0,.2);
	background: white;
	border:none;
	cursor: pointer;
	border-radius: 1rem;
}


#characterUiContainer {
	position: absolute;
	bottom:2rem;
	transform: translate(-50%,0);
	left:50%;
	display: flex;
}

#characterUiContainer .character{
	border:none;
	background:none;
	/*width: 100px;
	height: 50px;*/
	cursor:pointer;
	margin-bottom: 4rem;
	margin-right: 10px;
	margin-left: 10px;
}

#characterUiContainer .character.active {
	opacity:1;
}

#characterUiContainer .character img{
	width: 6rem;
	height: 5rem;
	/*height: auto;*/
}

#characterUiContainer .character .statusbar{
	width:60px;
	height:10px;
	position: relative;
	background: #333;
	border-radius: 10px;
	margin: auto;
}

.bigbtn {
	border-radius: .5rem;
    border: none;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0 4px 0 rgba(0,0,0,0.05);
    background: #3be34c;
    font-weight: bold;
    cursor: pointer;
}

#characterUiContainer .character .statusbar .statusbarfill{
	position: absolute;
	width:30px;
	height:10px;
	transition: 1s width ease;
	background: #61d709;
	border-radius: 10px;
	filter: saturate(0);
}

#characterUiContainer .character.active .statusbar .statusbarfill{
	filter: saturate(1);
}


#state {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align:right;
	font-size: .6rem;
	margin-bottom:1rem;
	margin-right:1rem;
}

#state li{
	padding: 0;
}

#clock {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
}

.minutes-container, .hours-container, .seconds-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hours {
	background: #000;
	height: 20%;
	left: 48.75%;
	position: absolute;
	top: 30%;
	transform-origin: 50% 100%;
	width: 2.5%;
}

.minutes {
	background: #000;
	height: 40%;
	left: 49%;
	position: absolute;
	top: 10%;
	transform-origin: 50% 100%;
	width: 2%;
}

@keyframes rotate {
	100% {
		transform: rotateZ(360deg);
	}
}

.seconds {
	background: #000;
	height: 45%;
	left: 49.5%;
	position: absolute;
	top: 14%;
	transform-origin: 50% 80%;
	width: 1%;
	z-index: 8;
}


.date {
	position: absolute;
	bottom: -20px;
	margin: auto;
	right: 0;
	left: 0;
	margin-left: auto;
	text-align: center;
	font-size: 12px;
}


.shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;

}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

#stateRepOne, 
#stateRepTwo,
#water,
#smoke{
	position:absolute;
	width:80%; 
	height: auto;
	display:block;
	animation: animatedCityVer 8s ease-in infinite;
}

#imageContainer	{ 
	left:50%;
	background-image: url('img/cloud-background.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 60s ease-in infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#gradient{
	position:absolute;
	width:100%;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f6fc+0,e0f6fc+100&1+0,0+10,0+92,1+100 */
	background: -moz-linear-gradient(left, rgba(224,246,252,1) 0%, rgba(224,246,252,0) 10%, rgba(224,246,252,0) 92%, rgba(224,246,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(224,246,252,1) 0%,rgba(224,246,252,0) 10%,rgba(224,246,252,0) 92%,rgba(224,246,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(224,246,252,1) 0%,rgba(224,246,252,0) 10%,rgba(224,246,252,0) 92%,rgba(224,246,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f6fc', endColorstr='#e0f6fc',GradientType=1 ); /* IE6-9 */
}


.modal {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
	z-index:999;
	display: none;
	background:rgba(0,0,0,.2);
}

.modaltext {
	position: absolute;
	width: 50%;
	transform: translate(-50%, -50%);
	top:50%;
	left:50%;
	background: white;
	text-align:center;
	box-shadow: 10px 10px 20px rgba(0,0,0,.4);
	padding: 3rem 4rem;
	border-radius:20px;
}

#sun{
	position:absolute;
	width:100%;
	height: 100%;
	background-image: radial-gradient(circle 100px at 80% 20%, white, yellow, lightyellow, transparent);
	animation: animatedSunHor 5s ease-in infinite;
	/* animation: animatedSunVer 7s ease-in infinite;*/
}

@keyframes animatedSunHor {
	0% {background-position: -2px 0;}
	50% {background-position: 2px 0;}
	100% {background-position: -2px 0;}	
}

@keyframes animatedSunVer {
	0% {background-position: 0 -2px;}
	50% {background-position: 0 2px;}
	100% {background-position: 0 -2px;}	
}

#smoke{
	animation: animatedSmoke 10s linear infinite;
}

@keyframes animatedSmoke{
	0% { filter: blur(5px); }
	50% { filter: blur(10px); }
	100% {filter: blur(5px);}
}

#test{
	display: none;
	position: absolute;
	bottom: 2rem;
}

#debug {
	width:50%;
	position: absolute;
	right: 2rem;
	bottom:0;
}

#endgame {
	display: none;
	position: absolute;
	bottom:2rem;
	text-align: center;
	width:100%;
	border-radius: 20px;
	padding: 2rem;
	line-height: 1.2rem;
	
}
.question {
	position: relative;
	background: #d51e1e;
	border: 2px solid #f5f5f5;
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 1rem;
	color: white;
	opacity: 0;
	margin: auto;
	z-index: 10;
}
.question:after, .question:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.question:after {
	border-color: rgba(213, 30, 30, 0);
	border-top-color: #d51e1e;
	border-width: 5px;
	margin-left: -5px;
}
.question:before {
	border-color: rgba(245, 245, 245, 0);
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}

#characterUiContainer .character img { transition: all .2s ease-in-out; filter: saturate(0);cursor:default;}
.active img { transform: scale(1.05); filter: saturate(1) !important;cursor:pointer !important; pointer-events: none;}
.active img:hover{ transform: scale(1.15); }

#audioControll{
	position:absolute;
	top:20px;
	left:20px;
	width:40px;
	height:40px;
	cursor:pointer;
}